@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .animation-delay-6000 {
    animation-delay: 6s;
  }
  .animation-delay-10000 {
    animation-delay: 10s;
  }
}


#divContainer {
  display: flex;
  justify-content: center;
}

#mydiv {
  background-color: #dc2626;
  border-width: 8px;
  border-color: #2563eb;
  padding: 1.25rem;
  width: 80%;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

#mydiv:hover {
  background-color: #facc15;
}


#testdivContainer {
  display: flex; 
  justify-content: center; /* justify-center */
}

#testmydiv {
  background-color: #dc2626; /* bg-red-600 */
  border-width: 8px; /* border-8 */
  border-color: #2563eb; /* border-blue-600 */
  padding: 1.25rem; /* p-5 */
  width: 80%; /* w-4/5 */
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25); /* shadow-2xl */
} 

#testmydiv:hover {
  background-color: #facc15; /*hover:bg-yellow-400 */
}